<h1>Bievenido a SportShop</h1>

<div>

    {{#each productos}}
        <div>
            <p> {{this.title}} </p>
            <p> {{this.description}} </p>
            <p>Stock: {{this.stock}}</p>
            <p>${{this.price}} </p>
            <button>Agregar al carrito</button>
        </div>
    {{/each}}
</div>