<h1>Bievenido a SportShop</h1>

<div>

    {{#each productos}}
        <div>
            <p> {{this.title}} </p>
            <p> {{this.description}} </p>
            <p> {{this.price}} </p>
            <button> Comprar </button>
        </div>
    {{/each}}
</div>