<h1>Productos in time real</h1>


<div id="contenedorProductos"></div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js"></script>

<script src="js/main.js"></script>
