<h1>Productos in real time </h1>

{{!-- formulario agregar prodc --}}
<form id="addProducForm" action="/submit-product" method="post" enctype="multipart/form-data">
            <div>
                <label for="title">Título:</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div >
                <label for="description">Descripción:</label>
                <textarea id="description" name="description" rows="4" required></textarea>
            </div>
            <div>
                <label for="price">Precio:$</label>
                <input type="number" id="price" name="price" step="0.01" oninput="validatePriceInput(event)" required>
            </div>
            <div>
                <label for="img">Imagen:</label>
                <input type="file" id="img" name="img" accept="image/*" required>
            </div>
            <div >
                <label for="code">Código:</label>
                <input type="text" id="code" name="code" required>
            </div>
            <div>
                <label for="stock">Stock:</label>
                <input type="number" id="stock" name="stock" required>
            </div>
            <div>
                <input type="submit" value="Agregar Producto">
            </div>
        </form>


<div id="contenedorProductos"></div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js"></script>

<script src="js/main.js"></script>
